/* CsiAngleur
 *
 * /sass/components/Animation.scss - Animation stylesheet
 *
 * coded by Dylan Schirino
 * started at 17/11/2016
 */

// Stetoscope animation of the circle
.cercle{
    transform-origin: 12px 12px;//center
    animation: 5s infinite cercle;
}
@keyframes cercle {
 0% {
   transform: scale(1);
 }
 50% {
   transform: scale(1.2);
   fill:$green;
 }
 100% {
   transform: scale(1);
 }
}

// Medic animation of the 2nd medic
.medic-2{
  transform-origin: 70px 35px ;//top
  animation: 6s medic-top;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}
@keyframes medic-top {
 0% {transform: rotate(0deg);}
 50% {transform: rotate(90deg);}
 100% {transform: rotate(0deg);}
}

// Note text appear
.text{
  animation: fill-opacity 5s linear;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}

@keyframes fill-opacity {
  0% {
    fill-opacity:0;
  }
  50%{
    fill-opacity:1;
  }
  100%{
    fill-opacity:0;
  }
}

// Heart beating
.heart{
  animation: heart 8s ease-in-out infinite;
  transform-origin: 100px 45px;
  animation-direction: alternate;
}

@keyframes heart {
 0% {
   transform: scale(1);
   opacity:1;
 }
 14%{
   opacity: 0;
 }
 28% {
   opacity: 1;
 }
 42% {
   opacity: 0;
 }
 70% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

.aiguille{
  transform-origin: 40px 40px;
  animation: aiguille 6s infinite ease-in-out;
}

@keyframes aiguille{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(120deg);
  }
}
