/* CSI Angleur
 *
 * /sass/components/archive.scss - archive components
 *
 * coded by Dylan Schirino
 * started at 23/11/2016
 */

 .archiveHead{
   background-color: $BlueGreen;
   color: $white;
   &__title{
     font-size:3.2em;
     line-height: 1.40625em;
     text-align: center;
     padding-top: 2.1875em;
   }
   &__text{
     font-size: 1.8em;
     line-height: 1.555em;
     text-align: center;
     padding: 1.3889em 0;
     color: $white;
   }
 }

 .fiche{
   &__content{
     border: 2px solid $cardsBckg;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
     vertical-align: top;
     background-color: $white;
     position: relative;
     top: -5px;
   }
   &__date{
     font: 1.2em/1.4167em $opensansBold;
     text-transform: uppercase;
     color: $texteColor;
     text-align: center;
     padding: 2.0833em 0 0.833em 0;
   }
   &__title{
     font-size: 1.8em;
     line-height: 1.22em;
     text-align: center;
     color: $BlueGreen;
     &::after{
       content: "";
       display: block;
       width: 8.3em;
       height: 2px;
       background: $texteColor;
       margin: 0.9em auto 0 auto;
     }
   }
   &__text{
     font-size: 1.4em;
     line-height: 1.45em;
     text-align: center;
     padding: 1.8571428571em;
   }
   &__button{
     font: 1.6em/2.75em $museo;
     background-color: $orange;
     text-transform: uppercase;
     border-radius: 8px;
     color: $white;
     text-align: center;
     border: 1px solid $white;
     transition: .2s ease-in;
     &:hover{
       background-color: $white;
       color: $orange;
       border: 1px solid $orange;
     }
   }
 }

 @media screen and (max-width:400px) {
   .archiveHead{
     &__svg{
       width: 80%;
       margin: auto;
     }
     &__text{
       width: 80%;
       margin: auto;
     }
     &__title{
       font-size: 2.4em;
     }
   }
 }
