/* CSI Angleur
 *
 * /sass/components/ContactHeader.scss - ContactHeader components
 *
 * coded by Dylan Schirino
 * started at 22/11/2016
 */

 .contactHead{
   background-color: $explainationBckg;
   padding-top: 7.2em;
   &__title{
     font-size: 3.2em;
     line-height: 1.40625em;
     text-transform: uppercase;
     color: $white;
   }
   &__text p{
     font-size: 1.6em;
     line-height: 1.6875em;
     color: $white;
     padding: 1.875em 0;
   }
 }

 .cards{
   &__link{
     &--contact{
       color: $white;
       & span:first-child::before{
         color: #56ECD0;
       }
     }
   }
 }

 // Formulaire
 .form{
   &__legend{
     font: 2.4em/1.2083em $museo;
     text-align: center;
     color: $explainationBckg;
     padding: 1.25em 0 0.833em 0;
   }
   &__label,&__input{
     font: 1.6em/1.5625em $opensans;
     text-transform: uppercase;
     color: $texteColor;
   }
   &__input{
     padding: 0.75em;
     border: none;
     border: 1px solid $inputBorder;
     border-radius: 8px;
     text-transform: lowercase;
     &--textarea{
       text-transform: none;
     }
   }
   &__submit{
     font: 1.6em/1.375em $museo;
     background: $explainationBckg;;
     border:1px solid $white;
     -webkit-appearance:none;
     color: $white;
     padding: 0.5em 0;
     border-radius: 8px;
     transition: .2s ease-in-out;
     &:hover{
       border: 1px solid $explainationBckg;
       background: $white;
       color: $explainationBckg;
       cursor: pointer;
     }
   }
 }

.maps{
  &__link{
    background: url("../images/maps.jpg") no-repeat center center;
    background-size: cover;
  }
  &__label{
    font: 1.8em/2em $museo;
    text-transform: uppercase;
    color: $texteColor;
    background-color: $white;
    border: 1px solid $texteColor;
    padding: 0.8em;
    &:hover{
      background-color: $texteColor;
      border: 1px solid $white;
      color: $white;
    }
  }
}
