/* CSI Angleur
 *
 * /sass/components/discover.scss - Discover components
 *
 * coded by Dylan Schirino
 * started at 18/11/2016
 */

 .discover{
   margin-top: -12.4em;
   &__header{
     background-color: $BlueGreen;
     padding-bottom: 4em;
   }
   &__services{
     background-color: $headerBckg;
     padding: 8em 0;
   }
   &__title{
     font: 3.2em/1.4em $museo;
     color: $white;
     text-transform: uppercase;
     padding: 4.625em 0 2.0625em 0;
   }
   &__element{
     font: 2.4em/1.2083333333em $museo;
     text-transform: uppercase;
     color: $white;
     text-align: center;
   }
   &__link{
     &::before{
       display: block;
       font: 2.5em/1.5em $glyphs;
       text-align: center;
     }
     &--generale::before{
       content: "\e902";
     }
     &--psy::before{
       content: "\e90c";
     }
     &--kine::before{
       content: "\e90d";
     }
     &--cardio::before{
       content: "\e900";
     }
     &--dentiste::before{
       content: "\e911";
     }
   }

   &__content{
     background-color: $white;
     border: 1px solid $inputBorder;
     padding:5em 0;
   }
   &__question{
     font: 2.4em/1.375em $opensans;
     color: $greenLight;
     transition: .2s ease-in;
     &::after{
       content: "";
       display: block;
       clear: both;
     }
     &::before{
       content: "\e90b";
       display: inline-block;
       font: 2em $glyphs;
       margin-right: 1.25em;
       position: relative;
       top: 15px;
     }
     &--clicked {
       &::before{
         content: "\e913";
       }
     }
   }
   &__answer{
     font: 1.6em/1.6875em $opensans;
     padding-top:1.25em;
   }
 }
 .answer{
   &__text{
     padding-bottom: 1.5em;
   }
 }
 .actif{
    &::after{
      border-color: rgba(81, 210, 204, 0);
      border-top-color: $BlueGreen;
      border-width: 25px;
    }
  }
  // Discover content

  @media screen and (max-width:1107px) {
    .discover{
      &__question{
        text-align: center;
        width: 90%;
        margin: auto;
        &::before{
          display: block;
          position: static;
          text-align: center;
          padding-bottom: 0.3em;
          margin: 0;
        }
      }
    }
  }

@media screen and (max-width:1002px){
  .discover{
    &__header{
      margin: 0;
      padding-top: 3em;
    }
  }
}
 @media screen and(max-width:773px) {
   .discover{
     &__element{
       font-size: 1.8em;
     }
   }
 }
