/* CSI Angleur
 *
 * /sass/components/explaination.scss - Explaination components
 *
 * coded by Dylan Schirino
 * started at 20/11/2016
 */
 .subscription{
   background-color: $explainationBckg;
   &__title{
     font-size: 2.4em;
     line-height: 1.20833em;
     color: $white;
     padding-left: 4.1667em;
   }
 }
 @media screen and(max-width:974px) {
   .subscription{
     &__title{
       text-align: center;
       padding-left: 0;
       padding-bottom: 3em;
     }
   }
 }

 // Aside Menu with je veux m'inscrire / désinscrire

.aside{
  &__button{
    font:1.8em/1.5em $museo;
    text-transform: uppercase;
    color: $texteColor;
    background-color: $cardsBckg;
    border-radius: 8px;
    text-align: center;
    transition: .2s ease-in;
    &:hover{
      background-color: $texteColor;
      color: $cardsBckg;
    }
    &::before{
      display: block;
      font: 3em/1.7em $glyphs;
      text-align: center;
      padding-top: 0.60em;
    }
    &--subscribe::before{
      content: "\e909";
    }
    &--unsubscribe::before{
      content: "\e906";
    }
  }
}


// Article correspondant
.article{
  &__title{
    font-size: 2.4em;
    line-height: 1.2083em;
    color: $BlueGreen;
    padding-bottom: 1.666em;
  }
  &__subtitle{
    font-size: 1.8em;
    line-height: 1.8em;
    padding: 1em 0;
    color: $greenLight;
  }
  &__text{
    font-size: 1.6em;
    line-height: 1.6875em;
    & p{
      padding-bottom: 1.5em;
    }
    & b {
      font-family: $opensansBold;
    }
    & a{
      display: inline-block;
      font-family: $opensansBold;
      text-decoration: underline;
    }
    & ul {
      padding-bottom: 1em;
    }
    & li {
      font-family: $museo;
      color: $texteColor;
      padding-top: 0.5em;
      &::before{
        content: "";
        width: 8px;
        display: inline-block;
        height: 8px;
        background-color: $texteColor;
        border-radius: 8px;
        margin-right: 0.5em;
      }
    }
  }
}
