/* CsiAngleur
 *
 * /sass/components/forfait.scss - Forfait Components
 *
 * coded by Dylan Schirino
 * started at 19/11/2016
 */
 .forfait{
   &__container, &__obligation{
     background-color: $cardsBckg;
     border-radius: 8px;
   }
   &__title{
     font-size: 2.4em;
     line-height: 1.2083333333em;
     color: $texteColor;
     text-align: center;
     text-transform: uppercase;
     padding: 2.25em 0 0.8333em 0;
   }
   &__explaination p{
     font-size: 1.6em;
     line-height: 1.5625em;
     padding-bottom: 1em;
     padding-right: 3.75em;
     & strong {
       font-family: $opensansBold;
       color: $BlueGreen;
     }
   }
   &__obligation{
     padding-bottom: 6em;
   }
 }

 .obligation{
   &__title{
     font-size:1.8em;
     line-height: 1.222em;
     color: $greenBlue;
     text-align: center;
     &::before{
       display: block;
       font: 4em/1em $glyphs;
       padding: 0.5em 0 0.2em 0;
     }
     &--house::before{
       content: "\e907";
     }
     &--cause::before{
       content: "\e916";
     }
     &--cons::before{
       content: "\e915";
     }
     &--patient::before{
       content: "\e912";
     }
   }
   &__text{
     font-size: 1.4em;
     line-height: 1.6428571429em;
     padding-top: 1.4285714286em;
   }
   &__list{
     padding-top: 1.5em;
   }
   &__element{
     font: 1.4em/1.5714285714em $opensans;
     color: #34586B;
     padding-bottom: 1.1em;
     &::before{
       content: "\e901";
       font: 1em/1.3em $glyphs;
       color: $greenFlash;
       padding-right: 1.5em;
     }
   }
 }

 .express{
   background: url("../images/smile.jpg") no-repeat center center;
   background-size: cover;
   &__advice{
     background: none;
     background: url("../images/advice.jpg") no-repeat center center;
     background-size: cover;
   }
   &__text{
     font: 2.4em/1.666em $museo;
     color: #34586B;
     text-align: center;
   }
 }


 @media screen and(max-width:777px) {
   .forfait{
     &__explaination p{
       padding-right: 0;
     }
   }
 }
