/* CSI Angleur
 *
 * /sass/components/header.scss - Header components
 *
 * coded by Dylan Schirino
 * started at 15/11/2016
 */

.header{
  background-color: $headerBckg;
  &__img{
    padding: 1.4em 0;
  }
}
.active{
  &::before{
    content: "";
    display: block;
    background: $active;
    width: 4em;
    height: 5px;
    position: absolute;
    top: 0;
  }
}
.menu{
  &__list{
    font:1.6em/2.3 $opensans;
    text-transform: uppercase;
    color: $texteColor;
  }
  &__element{
    padding-right: 2.1875em;
    padding-bottom: 2em;
  }
  &__link{
    display: block;
    transition: .2s ease;
    &:hover{
      font-family: $opensansBold;
      color: $active;
    }
    &--down{
      &::after{
        content: "\e903";
        font: 1em/1 $glyphs;
        display: inline-block;
        padding-left: 0.5em;
      }
    }
  }
  &__sublist{
    background-color: $white;
    border: 3px solid $BlueGreen;
    border-radius: 5px;
    z-index: 1;
    &::after{
      border-color: rgba(81, 210, 204, 0);
	    border-bottom-color: $BlueGreen;
	    border-width: 17px;
	    margin-left: -17px;
    }
  }
  &__subelement + &__subelement{
    border-top: 3px solid $BlueGreen;
  }
  &__sublink{
    text-align: center;
    padding-top: 0.375em;
    transition: .2s ease-in;
    &:hover{
      font-family: $opensansBold;
    }
  }
}

@media only screen and (max-width: 1093px) {
    .menu{
      &__list{
        background-color: $headerBckg;
        height: 60em;
      }
      &__sublist{
        background: none;
        border: none;
      }
      &__subelement + &__subelement{
        border: none;
      }
      &__element{
        padding-left: 2em;
        border-bottom: 1px solid $texteColor;
        transition: .2s ease-in-out;
        &:hover{
          cursor: pointer;
        }
      }
      &__sublink{
        text-align: left;
        font-family: $opensansBold;
        &::after{
          content: "";
          display: block;
          clear: both;
        }
      }
      &__link{
        &--down{
          &::after{
            float:right;
            padding-top: 0.8em;
          }
        }
      }
    }
}
