/* CsiAngleur
 *
 * /sass/components/mainimage.scss - Mainimage Components
 *
 * coded by Dylan Schirino
 * started at 17/11/2016
 */
 .headContent{
   background: url("../images/mainimage.jpg") no-repeat center center;
   background-size: cover;
   &__slogan{
     font: 3.2em/1.40625em $museo;
     color: $white;
     padding: 2.8125em 0 0 3.75em;
   }
   &__bold{
     font-weight: bolder;
   }
   &__cards{
     background-color: $white;
     box-shadow: 0 0 10px rgba(51,51,51,0.5);
   }
 }

 @media screen and (max-width:1058px) {
   .headContent{
     &__slogan{
       padding-left: 1.5em;
     }
   }
 }


 .cards{
   &__title{
     font: 2.4em/1.2083333333em $museo;
     color: $greenLight;
     border-top: 1px solid $greenLight;
     border-bottom: 1px solid $greenLight;
     padding: 0.4166666667em 0;
   }
   &__label{
     text-transform: uppercase;
     padding-right:0.7142857143em;
     &::before{
       font: 1.6em $glyphs;
       vertical-align: middle;
       padding-right: 0.4em;
     }
     &--adress::before{
       content: "\e910";
     }
     &--tel::before{
       content: "\e90a";
       font-size: 1.3em;
     }
     &--fax::before{
       content: "\e905";
     }
     &--email::before{
       content: "\e904";
       font-size: 1.3em;
     }
   }
   &__link{
     font: 1.4em/1.3571428571em $opensans;
     color: $greenLight;
   }
 }

 @media screen and (max-width:981px) {
   .headContent{
     background: none;
     background-color: #3CE8C7;
     padding-bottom: 4em;
     &__slogan{
       padding: 3em 0;
       text-align: center;
       &--house{
         padding: 0;
         padding-top:1.5em;

       }
     }
   }
 }

 @media screen and (max-width:537px) {
   .headContent{
     &__slogan{
       font-size: 2.4em;
     }
     &__cards{
       box-shadow: none;
     }
   }
   .cards{
     &__title{
       font-size: 1.8em;
     }
   }
 }

 .table{
   &__day{
     font: 1.4em/1.2142857143em $museo;
     text-transform: uppercase;
     color: $greenLight;
   }
   &__info{
     font:1.4em/1.3571428571em $opensans;
     color: $green;
   }
 }
