/* CSI Angleur
 *
 * /sass/components/prevention.scss - prevention components
 *
 * coded by Dylan Schirino
 * started at 24/11/2016
 */
 .traitement{
   background-color: $greenLight;
   &__title{
     font: 3.2em/1.1785em $museo;
     color: $white;
     text-transform: uppercase;
     text-align: center;
     padding: 2.1875em 0;
   }
   &__container{
     padding-bottom: 8em;
   }
   &__text{
     font-size: 1.6em;
     line-height: 1.625em;
     color: $white;
     padding-bottom: 1.875em;
   }
 }


// Conseils pratiques
.pratique{
  background-color: $footerBckg;
  &__conseil{
    padding: 4em 0;
  }
  &__title{
    font-size: 3.2em;
    line-height: 1.1875em;
    text-transform: uppercase;
    color: $texteColor;
    text-align: center;
    padding-top: 5.9375em;
    &::after{
      content: "";
      display: block;
      width: 30%;
      height: 3px;
      background-color: $texteColor;
      margin: 0.5em auto 0.5em auto;
    }
  }
}

.conseil{
  &__title{
    font-size: 2.4em;
    line-height: 1.20em;
    text-transform: uppercase;
    color: $texteColor;
    &::after{
      content: "";
      display: block;
      width: 21%;
      height: 3px;
      background-color: $texteColor;
      margin-top: 0.3em;
    }
  }
  &__subtitle{
    font: 1.8em/1.333em $opensansBold;
    padding: 2.7888em 0 1.666em 0;
  }
  &__text{
    font-size: 1.6em;
    line-height: 1.6875em;
    padding-bottom: 1.875em;
  }
}

.lien{
  background: $BlueGreen;
  &__title{
    font-size: 2.4em;
    line-height: 1.5em;
    text-align: center;
    color: $white;
    padding: 2em 0;
    text-transform: uppercase;
  }
  &__list{
    padding: 3em 0;
  }
  &__link{
    font: 1.6em/1.6875em $opensans;
    color: $white;
    padding-bottom: 2em;
    &:hover{
      text-decoration: none;
      color: $texteColor;
    }
  }
}




// Mediaqueries
 @media screen and (max-width:420px) {
    .traitement{
      &__title{
        font-size: 2.4em;
      }
    }
 }

 @media screen and (max-width:673px) {
   .traitement{
     &__svg{
       display: none;
     }
     &__text{
        width: 100%;
     }
   }
   .pratique{
     &__title{
       padding-top: 2em;
     }
   }
 }
