/* CsiAngleur
 *
 * /sass/components/searchbox.scss - Searchbox Components
 *
 * coded by Dylan Schirino
 * started at 16/11/2016
 */

.menu{
  &__link{
    display: block;
    &--search{
      &::before{
        content: "\e90e";
        display: block;
        font: 1em/2em $glyphs;
        padding-bottom: 3em;
      }
    }
  }
  &__search{
    background-color: $white;
    border: 3px solid $BlueGreen;
    border-radius: 5px;
    z-index: 10;
    &::after{
      border-color: rgba(81, 210, 204, 0);
      border-bottom-color: $BlueGreen;
      border-width: 17px;
      margin-left: -17px;
    }
  }
}


.search{
  &__box{
    border:1px solid $inputBorder;
    border-radius: 4px;
    background: none;
    font:1em/1.8em $opensans;
    padding-left:0.625em;
    color: $texteColor;
    outline: none;
  }
  &__submit{
    background: $BlueGreen;
    border: none;
    border-radius: 4px;
    color: $texteColor;
    font: 0.88em/1.8em $opensans;
    text-align: center;
    transition: .2s ease-in;
    &:hover{
      background-color: $texteColor;
      color: $BlueGreen;
      cursor: pointer;
    }
  }
}

@media screen and (max-width:1093px) {

  .menu{
    &__link{
      &--search{
        display: none;
        &::before{
            padding-bottom: 0;
        }
      }
    }
    &__search{
      background: none;
      border: none;
      padding: 0;
      padding-top:1.5em ;
    }
  }
  .search{
    &__box{
      border-color: $texteColor;
      background-color: white;
      color: $texteColor;
    }
  }

}
