@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo';
    src: url('../fonts/museo/Museo300-Regular-webfont.eot');
    src: url('../fonts/museo/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/Museo300-Regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/museo/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'glyphs';
  src:  url('../fonts/glyphs/icomoon.eot?afyfff');
  src:  url('../fonts/glyphs/icomoon.eot?afyfff#iefix') format('embedded-opentype'),
    url('../fonts/glyphs/icomoon.ttf?afyfff') format('truetype'),
    url('../fonts/glyphs/icomoon.woff?afyfff') format('woff'),
    url('../fonts/glyphs/icomoon.svg?afyfff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


$opensans:"open_sansregular","Helvetica",Arial,sans-serif;
$opensansBold:"open_sansbold";
$opensansItalic:"open_sansitalic";
$museo:"museo";
$glyphs:"glyphs";
