/* CSI Angleur
 *
 * /sass/object/archive.scss - archive object
 *
 * coded by Dylan Schirino
 * started at 23/11/2016
 */
.archiveHead{
  &__svg{
    display: block;
    margin: auto;
  }
}
.archive{
  &__fiche{
    width: 30em;
  }
  &__img{
    vertical-align: baseline;
  }
  &__container{
    width: 81%;
    margin: 8em auto 8em auto;
    display: flex;
    justify-content: space-between;
  }
}

.fiche{
  &__date{
    display: block;
  }
  &__button{
    width: 85%;
    margin: 0 auto 1.875em auto;
  }
}
@media screen and (max-width:1114px) {
  .archive{
    &__container{
      width: 95%;
    }
  }
}

@media screen and (max-width:962px) {
    .archive{
      &__container{
        display: block;
        &::after{
          content: "";
          display: block;
          clear: both;
        }
      }
      &__fiche{
        display: inline-block;
        width: 45%;
        float: left;
        margin:2em;
        &--last{
          float: none;
          display: block;
          margin: auto;
        }
      }
    }
    .fiche{
      &__img{
        width: 100%;
        height: auto;
      }
    }
}

@media screen and (max-width:843px) {
  .archive{
    &__fiche{
      float: none;
      display: block;
      width: 60%;
      margin: 4em auto;
    }
  }
}

@media screen and (max-width:544px) {
  .archive{
    &__fiche{
      width: 80%;
    }
  }
}
@media screen and (max-width:400px) {
  .archive{
    &__fiche{
      width: 90%;
    }
  }
}
