/* CSI Angleur
 *
 * /sass/object/ContactHeader.scss - ContactHeader object
 *
 * coded by Dylan Schirino
 * started at 22/11/2016
 */
 .contactHead{
   &__container{
     margin-left:12em;
   }
   &__text p{
     width: 30.0625em;
   }
 }
 // Le container du formulaire
 .headContent{
   &__cards{
     &--form{
       margin-top: 7.2em;
       z-index: 1;
     }
   }
 }
 // Les informations de contact
 .cards{
   &__list{
     &--contact{
       width: 100%;
       padding-bottom: 8em;
     }
   }
 }
 .screen-reader-response,.wpcf7-response-output {
   display: none;
 }
 .wpcf7-not-valid-tip{
   font: 1.2em/1.2em $opensans;
   color: red;
   display: block;
   padding-top: 0.5em;
 }
 div.wpcf7-response-output{
   margin:-1em 0 0 0 !important;
   padding: 0 0 2em 0 !important;
   border:none!important;
 }
 .wpcf7-mail-sent-ok{
   border: none;
   font: 1.6em/1.4em $museo;
   color: $green;
   text-align: center;
 }
 .wpcf7-validation-errors{
    border: none;
    font: 1.6em/1.4em $museo;
    color: $orange;
    text-align: center;
 }
 .form{
   display: block;
   width: 73%;
   margin: auto;
   &__label{
     display: block;
     margin-top: 1.5em;
   }
   &__input{
     margin-top: 0.625em;
     width: 95%;
   }
   &__submit{
     width: 100%;
     margin: 1.5em 0em 2em 0.5em;
   }
 }

.maps{
  &__link{
    height: 40em;
    position: relative;
  }
  &__label{
    position: absolute;
    top:30px;
    left: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}

.maps__link:hover .maps__label{
  visibility: visible;
  height: auto;
}

@media screen and (min-width:1300px) {
  .headContent{
    &__cards{
      &--form{
        top: 0;
      }
    }
  }
  .contactHead{
    &__container{
      margin-left: 0;
    }
  }
}

 @media screen and (max-width:1111px) {
   .contactHead{
     &__container{
        margin-left: 2em;
     }
   }
 }

 // Mediaqueries

 @media screen and (max-width:951px) {
   .contactHead{
     padding-bottom: 5em;
     &__container{
       display: block;
       width: 90%;
       margin: auto;
     }
     &__title{
       text-align: center;
     }
     &__text p{
       width: 80%;
       margin: auto;
     }
   }
   .headContent{
     &__cards{
       &--form{
         margin-top: 1em;
       }
     }
   }
   .cards{
     &__list{
       &--contact{
         width: 80%;
         margin: auto;
         & li{
           display: inline-block;
           margin-right: 4em;
           margin-bottom: 1em;
         }
       }
     }
   }
 }

 @media screen and (max-width:400px) {
   .contactHead{
     &__container,&__text{
       width: 90%;
       margin: auto;
     }
   }
   .cards{
     &__list{
       &--contact{
         width: 90%;
         margin: auto;
         & li{
           display: block;
           margin-right: 0;
           margin-bottom:2em;
         }
       }
     }
   }
   .form{
     width: 80%;
     margin: auto;
   }
 }
