/* CSI Angleur
 *
 * /sass/object/discover.scss - Discover object
 *
 * coded by Dylan Schirino
 * started at 18/11/2016
 */

 .discover{
   &__container{
     width: 84%;
     margin: auto;
   }
   &__title{
     margin-left: 0.6em;
   }
   &__menu{
     display: flex;
     justify-content: space-between;
   }
   &__content{
     display: none;
     transition: .2s ease-in;
     width: 80.7%;
     margin: auto;
   }
   &__question{
     width: 80.7%;
     margin: auto;
   }
   &__answer{
     width: 58%;
     margin: auto;
     height: 0;
     overflow: hidden;
     opacity: 0;
     transition: .3s ease-in-out;
     &--open{
       height: auto;
       opacity: 1;
     }
   }
 }
 .activated{
    display: block;
 }
.no-js .discover__answer{
  height: auto;
  opacity: 1;
}

.no-js .discover__content{
  display: block;
  margin-top: 5em;
}
 .actif{
     position: relative;
     &::after{
       top: 100%;
       left: 35%;
       margin-top: 1.67em;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
     }
 }

 @media screen and(max-width:861px) {
   .discover{
     &__container{
       width: 95%;
       margin: auto;
     }
     &__answer{
       width: 90%;
       margin: auto;
     }
   }
 }

@media screen and(max-width:574px) {
  .discover{
    &__container{
      width: 80%;
      margin: auto;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
    }
    &__title{
      text-align: center;
      margin: 0;
    }
    &__menu{
      display: block;
    }
    &__element{
      padding-bottom: 1em;
    }
  }
}
