/* CSI Angleur
 *
 * /sass/object/explaination.scss - Explaination object
 *
 * coded by Dylan Schirino
 * started at 20/11/2016
 */
.subscription{
  &__svg{
    margin: 4.5em 0 4.5em 12.1em;
    vertical-align: middle;
  }
  &__title{
    display: inline-block;
  }
  &__content{
    width: 81%;
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
  }
  &__articleContainer{
    width: 53%;
    order: 1;
  }
  &__aside{
    width: 35%;
    order: 2;
  }
  &__article{
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in;
  }
  &__active{
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

.no-js .subscription__article{
  height: auto;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width:974px) {
  .subscription{
    &__svg{
      margin: 0;
      display: block;
      margin:auto;
      padding: 4.5em 0;
    }
    &__title{
      display: block;
    }
  }
}


 // Aside Menu with je veux m'inscrire / désinscrire

 .aside{
   &__button{
      height: 11.1em;
      margin-bottom: 2.778em;
   }
   &__container{
     &--active{
       position: relative;
       &::before{
       right: 100%;
       top: 50%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
       border-color: rgba(194, 225, 245, 0);
       border-right-color: #ECF3F6;
       border-width: 30px;
       margin-top: -30px;
       }
     }
   }
 }


 @media screen and (max-width:714px) {
   .subscription{
     &__content{
       width: 90%;
       display: block;
     }
     &__articleContainer{
       width: 90%;
       margin: auto;
     }
     &__aside{
       width: 90%;
       margin: auto;
     }
   }
 }
