/* CsiAngleur
 *
 * /sass/object/footer.scss - Footer Object
 *
 * coded by Dylan Schirino
 * started at 18/11/2016
 */
 .footer{
   &__container{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: flex-start;
   }
   &__information{
     width:35%;
   }
 }

 .table{
   &__element{
     &--footer{
       display: flex;
       justify-content: space-between;
     }
   }
 }


@media screen and (max-width:930px) {
  .footer{
    &__information{
      margin-left: 0;
    }
    &__container{
      display: block;
      width: 70%;
      margin: auto;
    }
    &__title{
      text-align: center;
    }
  }
  .cards{
    &__element{
      &--footer{
        display: block;
        text-align: center;
      }
    }
  }
  .table{
    &__element{
      &--footer{
        display: block;
        text-align: center;
      }
    }
  }
  .linkSection{
    &__link{
      text-align: center;
    &::before{
      content: "";
      width: 0;
      background: none;
    }
    }
  }
}
