/* CsiAngleur
 *
 * /sass/object/forfait.scss - Forfait Object
 *
 * coded by Dylan Schirino
 * started at 19/11/2016
 */

 .forfait{
   width: 81%;
   margin: 8em auto;
   &__content{
     margin-top: 1em;
     padding-bottom: 4em;
     display: flex;
     &::after{
       content: "";
       display: block;
       clear: both;
     }
   }
   &__svg{
    margin: 0 4.5em 0 4.5em;
    flex-shrink: 0;
   }
   &__cardsContainer{
      margin-top: 8em;
      display: flex;
      justify-content: space-between;
   }
   &__obligation{
     width: 47.7%;
   }
 }

 .obligation{
   &__list{
     width: 80%;
     margin: auto;
   }
   &__text{
     width: 65%;
     margin: auto;
   }
   &__element{
     display: flex;
     justify-content: flex-start;
   }
 }

.express{
  height: 30em;
  display: flex;

  &__text{
    width: 50%;
    margin: auto;
    align-items: center;
  }
}

 @media screen and (max-width:813px) {
   .forfait{
     width: 90%;
     &__svg{
       display: block;
       margin: 2em auto;
     }
     &__content{
       padding-bottom: 3em;
       display: block;
     }
     &__explaination{
       width: 80%;
       margin: auto;
       padding-right: 0;
     }
     &__cardsContainer{
       display: block;
     }
     &__obligation{
       width: 100%;
       margin-bottom:6em;
     }
   }
   .obligation{
    &__text{
      width: 80%;
    }
   }
 }
