/* CsiAngleur
 *
 * /sass/object/forfait.scss - Forfait Object
 *
 * coded by Dylan Schirino
 * started at 19/11/2016
 */

 .forfait{
   width: 81%;
   margin: 8em auto;
   &__content{
     margin-top: 1em;
     &::after{
       content: "";
       display: block;
       clear: both;
     }
   }
   &__svg{
    float: left;
    margin: auto 4.5em 4.1em 4.5em;
   }
 }

 @media screen and (max-width:813px) {
   .forfait{
     width: 90%;
     &__svg{
       float: none;
       display: block;
       margin: 2em auto;
     }
     &__explaination{
       width: 80%;
       margin: auto;
       padding-right: 0;
     }
   }
 }
