/* CSI Angleur
 *
 * /sass/object/header.scss - Header objects
 *
 * coded by Dylan Schirino
 * started at 15/11/2016
 */

.none{
  position: absolute;
  display: none;
}
.header{
 &__content{
   max-width: 88.7%;
   margin: auto;
   height:10em;
   &::after{
     content: "";
     display: block;
     clear: both;
   }
 }
 &__logo{
   display:block;
   margin-left: 5.6em;
   float: left;
 }
}
.menu{
 &__content{
   display: inline-block;
   margin-left: 9.2em;
 }
 &__element{
   display: inline-block;
   margin-top:2em;
   vertical-align: top;
 }
 &__sublist{
   margin-top: 2em;
   width: 10em;
   position: absolute;
   height: 5.9375em;
   opacity: 0;
   transition: .2s ease-in;
   &::after{
     bottom: 100%;
	   left: 25%;
	   border: solid transparent;
	   content: " ";
	   height: 0;
	   width: 0;
	   position: absolute;
	   pointer-events: none;
   }
 }
 &__sublink{
   display: block;
 }
}
.menu__element--down:hover .menu__sublist{
  opacity: 1;
}

@media only screen and (max-width:1215px) {
 .menu{
   &__content{
     margin-left: 1em;
   }
 }
}
@media only screen and (max-width:1169px) {
 .menu{
   &__element{
     font-size: 0.8em;
   }
 }
}

@media only screen and (max-width: 1027px) {


 // MENU RESPONSIVE
 .none{
   display: block;
   position: static;
 }
 .header{
   position: static;
   &__search{
     float:right;
     margin-top: 3em;
   }
   &__burger{
     position: relative;
     display: block;
     float: left;
     width: 50px;
     height: 66px;
     &::after{
       content: '';
       position: absolute;
       display: block;
       width: 1rem;
       height: 0;
       top: 30px;
       left: 0px;
       box-shadow:(0 10px 0 1px $black, 0 16px 0 1px $black, 0 22px 0 1px $black);
     }
   }
 }
 .site-pusher{
   height: 100%;
   position: absolute;
   width: 100%;
   transition: transform .3s cubic-bezier(.42,.52,.87,.55);
 }
 .menu{
   &__list{
     position: absolute;
     top:0;
     bottom:0;
     left:0;
     width: 250px;
     transform: translateX(-250px);
     -webkit-transition: transform 1s ease-in;
   }
   &__element{
     display: block;
   }
   &__link{
     display: block;
     height: 40px;
     line-height: 40px;
   }
 }
 .site-content{
    position: absolute;
    top:90px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
   }
 .with--sidebar{
   overflow: hidden;
   height: 100%;
   .site-pusher{
     transform: translateX(250px);
   }
   .site-cache {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0,0,0,0.6);
}
 }
}


@media screen and (max-width:478px){
 .header{
   &__logolink{
     display: block;
     margin-top:0.6em;
   }
 }
}

@media screen and (max-width:366px){
 .header{
   &__logolink{
     font-size:0.55em;
     margin-top:1.5em;
   }
 }
}
