/* CsiAngleur
 *
 * /sass/objects/howitworks.scss - Howitworks Objects
 *
 * coded by Dylan Schirino
 * started at 17/11/2016
 */

 .howitworks{
   &__text{
     width: 79%;
     margin: auto;
   }
   &__svg{
     &--medic{
       float: right;
     }
   }
 }

 @media screen and(max-width:796px) {
   .howitworks{
     &__text{
       width: 100%;
       margin: auto;
     }
   }
 }
