/* CSI Angleur
 *
 * /sass/object/ourTeam.scss - ourTeam object
 *
 * coded by Dylan Schirino
 * started at 22/11/2016
 */

 .team{
   &__container{
     width: 81%;
     margin: auto;
   }
   &__header{
     &::after{
       content: "";
       display: block;
       clear: both;
     }
   }
   &__title{
     float: left;
   }
   &__element{
     display: inline-block;
     position: relative;
     margin-right: 3.9em;
     padding-top: 6em;
   }
   &__horaire{
     width: 17.9167em;
     position: absolute;
     bottom: 137px;
     opacity: 0;
     transition: .2s ease-in-out;
   }
   &__name,&__function{
     display: block;
     margin-top: 1.25em ;
   }
   //Slider
   &__slideshow{
     position: relative;
     width: 100%;
     height: 40em;
     overflow: hidden;
   }
   &__slider{
     position: absolute;
     top: 0;
     left: 0;
     width: 300%;
     z-index: 10;
     transition: all .2s ease-in;
   }
 }

#s1:target #sContent { left: -75%; }
#s2:target #sContent { left: 75%; }


 .team__element:hover .team__horaire{
   opacity: 1;
 }


 .controls{
   &__button{
     &--next, &--prev{
       display: inline-block;
     }
     &--prev{
       margin-right: 1.6em;
     }
   }
   &__container{
     float: right;
   }
 }


 @media screen and (max-width:1145px) {
     .team{
       &__slideshow{
         width: 85em;
         height: 80em;
       }
       &__img{
         width: 15em;
         height: auto;
       }
     }
 }

 @media screen and (max-width:956px) {
   .team{
     &__img{
       display: none;
     }
     &__slideshow{
       width: 100%;
       margin: auto;
       height: auto;
     }
     &__slider{
       width: 100%;
       position: static;
     }
     &__element{
       background: $white;
       display: inline-block;
       padding-top: 0;
       width: 30%;
       margin: 3em 1em 3em 1em;
     }
     &__horaire{
       opacity: 1;
       position: static;
       width: 100%;
       text-align: center;
     }
   }
   .button{
     display: none;
   }
 }

 @media screen and (max-width:818px) {
   .team{
     &__slideshow{
       width: 80%;
       margin: auto;
     }
     &__element{
       width: 45%;
     }
   }
 }

 @media screen and (max-width:663px) {
   .team{
     &__element{
       display: block;
       width: 100%;

     }
   }
 }
 @media screen and (max-width:400px) {
   .team{
     &__slideshow{
       width: 100%;
     }
   }
 }
