/* CsiAngleur
 *
 * /sass/object/philosophie.scss - Philosophie Object
 *
 * coded by Dylan Schirino
 * started at 19/11/2016
 */

 .philosophie{
   width: 81%;
   margin: auto;
   &__container{
     margin: 8em auto;
   }
   &__content{
     width: 80%;
     margin: auto;
   }
 }

 @media screen and(max-width:400px) {
   .philosophie{
     width: 90%;
     &__content{
       width: 85%;
     }
   }
 }
