/* CSI Angleur
 *
 * /sass/object/serviceInformation.scss - serviceInformation object
 *
 * coded by Dylan Schirino
 * started at 21/11/2016
 */
.information{
  &__container{
    display: flex;
  }
  &__choix{
    width: 50%;
  }
  &__content{
    display: flex;
    justify-content: space-around;
    width: 81%;
    margin: 8em auto;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    &--active{
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
  &__article{
    order: 2;
    width: 50%;
  }
  &__table{
    width: 48%;
    margin-right: 5em;
  }
  &__tableHead{
    width: 100%;
  }
  &__tableData{
    width: 50%;
  }
  &__tel{
    width: 75%;
    margin:1.25em auto;
  }
}

@media screen and (max-width:951px) {
  .information{
    &__content{
      width: 90%;
      display: block;
    }
    &__article{
      order: 1;
      width: 100%;
      margin: auto;
    }
    &__table{
      width: 100%;
      margin: 2em auto;
      border-right: 1px solid $texteColor;
      border-left: 1px solid $texteColor;
    }
  }
}
