doctype html
html(lang="fr")
    head
      <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
      <![endif]-->
        meta(charset="utf-8")
        meta(name="description", content="CSI Angleur | Maison médicale basé à Angleur, Belgique")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title= "Accueil - CSI Angleur"
        link(rel='stylesheet', href='css/main.css', type='text/css')
    include template/header.pug

      main
