section.pratique
  h2.pratique__title Conseils pratiques
  article.pratique__conseil
    h3.conseil__title Alimentation
    p.conseil__subtitle Régime selon flash
    div.conseil__container
      div.conseil__content
        p.conseil__text Il est possible d'abaisser sa tension artérielle en appliquant les conseils qui suivent :
        p.conseil__text Consommer beaucoup de fruits et légumes. Limiter sa consommation de sel : des études indiquent que 30 % des hypertendus (en particulier ceux qui réagissent facilement au sodium) peuvent contrôler leur pression sanguine en réduisant leur apport en sel11. Au besoin, pour cuisiner ou assaisonner, remplacer le sel de table, le sel marin ou la fleur de sel par du sel de potassium. Modérer sa consommation d’alcool et de caféine (un maximum de 4 tasses de café par jour).
        p.conseil__text Augmenter son apport en oméga-3 d’origine marine, surtout retrouvés dans le maquereau, le saumon, la truite, le hareng et la morue. Manger de l'ail : bien que ses vertus ne soient pas prouvées de façon rigoureuse, plusieurs médecins recommandent l'ail pour ses propriétés vasodilatatrices
      img.conseil__img(src="images/food.jpg" width="428" height="285" alt="Photo d'un aliment")
  article.pratique__conseil
    h3.conseil__title Exercices Physiques
    p.conseil__subtitle Exercices de type cardiovasculaires
    div.conseil__container
      div.conseil__content
        p.conseil__text Les exercices de type cardiovasculaire (marche rapide, course, vélo, danse, natation) sont recommandés. On suggère d'en faire au moins 20 minutes par jour, mais tout exercice physique, même moins intense, est bénéfique. À long terme, l’exercice physique régulier permet de réduire la pression systolique de 4 mmHg à 9 mmHg, même sans perte de poids.
        p.conseil__text Cependant, prudence avec les exercices qui obligent à lever des poids (au gym, par exemple). Ils deviennent contre-indiqués lorsque la tension artérielle est élevée.
        p.conseil__text Dans tous les cas, il est préférable de demander l'avis de son médecin avant d'entreprendre un programme d'exercice.
      img.conseil__img(src="images/sport.jpg" width="428" height="285" alt="Photo d'un aliment")

section.lien
  h2.lien__title Ressource utiles
  <svg class="lien__svg" width="131" height="93" viewBox="0 0 131 93" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path id="a" d="M.28 93H107.1V.465H.28z"/>
      <path id="c" d="M130.488 64.347V.187H0v64.16z"/>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(9 -.465)">
        <mask id="b" fill="#fff">
          <use xlink:href="#a"/>
        </mask>
        <path d="M107.1 29.316C107.1 13.38 94.187.464 78.254.464 67.85.464 58.766 5.99 53.688 14.248 48.616 5.99 39.526.464 29.124.464 13.19.464.28 13.38.28 29.316c0 8.67 3.844 16.432 9.9 21.713l40.876 40.88c.7.698 1.646 1.09 2.632 1.09.99 0 1.936-.392 2.636-1.09L97.2 51.03c6.06-5.282 9.9-13.043 9.9-21.714" fill="#34586B" mask="url(#b)"/>
      </g>
      <g transform="translate(0 7.535)">
        <mask id="d" fill="#fff">
          <use xlink:href="#c"/>
        </mask>
        <path d="M75.78 64.346c-.06 0-.117-.004-.175-.01-.903-.077-1.64-.753-1.797-1.645L65.172 13.37l-9.3 49.35c-.173.914-.956 1.59-1.888 1.624-.88.07-1.767-.575-2.007-1.477L41.72 24.667 35.207 47.94c-.242.863-1.03 1.46-1.927 1.46H2c-1.105 0-2-.893-2-2 0-1.102.895-2 2-2h29.763l8.07-28.838c.242-.862 1.03-1.46 1.925-1.46h.01c.903.005 1.69.615 1.92 1.482l9.876 36.777L63.28 1.813c.178-.94 1.004-1.625 1.965-1.625h.013c.964.005 1.79.7 1.956 1.65l9.235 52.74 6.66-18.515c.286-.793 1.038-1.324 1.88-1.324h43.497c1.104 0 2 .897 2 2 0 1.102-.896 2-2 2h-42.09L77.66 63.026c-.287.798-1.045 1.32-1.88 1.32" fill="#FF9C15" mask="url(#d)"/>
      </g>
    </g>
  </svg>
  ul.lien__list
    li.lien__element
      a.lien__link(href="http://www.passeportsante.net/fr/Maux/Problemes/Fiche.aspx?doc=hypertension-pm-traitements-medicaux-de-l-hypertension-arterielle", title="Quitter le site vers ce lien") http://www.passeportsante.net/
    li.lien__element
      a.lien__link(href="http://www.passeportsante.net/fr/Maux/Problemes/Fiche.aspx?doc=hypertension-pm-traitements-medicaux-de-l-hypertension-arterielle", title="Quitter le site vers ce lien") http://www.monmedecin.com/
    li.lien__element
      a.lien__link(href="http://www.passeportsante.net/fr/Maux/Problemes/Fiche.aspx?doc=hypertension-pm-traitements-medicaux-de-l-hypertension-arterielle", title="Quitter le site vers ce lien") http://www.chu.net/
    li.lien__element
      a.lien__link(href="http://www.passeportsante.net/fr/Maux/Problemes/Fiche.aspx?doc=hypertension-pm-traitements-medicaux-de-l-hypertension-arterielle", title="Quitter le site vers ce lien") http://www.passeportsante.net/
