section.archive__list
  h2.hidden Liste des fiche de prévention
  div.archive__container
    div.archive__fiche
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique
    div.archive__fiche
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique
    div.archive__fiche.archive__fiche--last
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique

  div.archive__container
    div.archive__fiche
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique
    div.archive__fiche
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique
    div.archive__fiche.archive__fiche--last
      img.fiche__img(src="images/thumbnail.jpg" width="300" height="200" alt="Image décorative de la fiche")
      article.fiche__content
        span.fiche__date 14 janvier 2016
        h3.fiche__title L'hypertension artérielle
        p.fiche__text L'hypertension artérielle, ou haute pression sanguine, se caractérise par une pression anormalement forte du sang sur la paroi des artères…
        a.fiche__button(href="fiche.html" title="Continuer la lecture vers la fiche complète") Vers la fiche pratique
  div.pagination
    a.pagination__button(href="#precedent",title="Vers la page précédente" ) Précédent
    ul.pagination__list
      li.pagination__element
        a.pagination__chiffre(href="#1",title="Vers la page 1") 1
      li.pagination__element
        a.pagination__chiffre(href="#2",title="Vers la page 2") 2
      li.pagination__element
        a.pagination__chiffre(href="#3",title="Vers la page 3") 3
      li.pagination__element
        a.pagination__chiffre(href="#4",title="Vers la page 4") 4
      li.pagination__element
        a.pagination__chiffre(href="#5",title="Vers la page 5") 5
    a.pagination__button(href="#suivant",title="Vers la page suivante" ) Suivant
