
section.forfait#forfait

  div.forfait__cardsContainer
    section.forfait__obligation
      h3.obligation__title.obligation__title--cause Cause de la maladie
      p.obligation__text L'hypertension est dite essentielle lorsqu'elle n'a pas de causes évidentes comme dans la plus part des cas. Quand un problème sous-jacent, comme une maladie du rein ou un dérèglement hormonal, cause l'hypertension, elle est alors désignée hypertension artérielle secondaire.
      p.obligation__text Voici quelque facteurs significatif :
      ul.obligation__list
        li.obligation__element L'âge (la pression artérielle s'élève habituellement avec l'âge)
        li.obligation__element Le régime alimentaire
        li.obligation__element Une consommation d'alcool immodérée
        li.obligation__element Le manque d'exercice physique
        li.obligation__element L'obesité
        li.obligation__element L'apnée du sommeil
        li.obligation__element Le stress

    section.forfait__obligation
      h3.obligation__title.obligation__title--cons Conséquence de la maladie
      p.obligation__text Cela peut donc aller de l'accident vasculaire cérébral, l'infarctus du myocarde, l'insuffisance rénale, l'artérite des membres inférieurs. Cela peut également être une conséquence de la maladie d’alzeihmer.
      p.obligation__text Les zones les plus touchés sont :
      ul.obligation__list
        li.obligation__element Le coeur : en cas d'hypertension artérielle, le coeur doit augmenter son activité. Il peut progressivement montrer des signes de fatigue. Cela peut conduire à une insuffisance cardiaque
        li.obligation__element Les artères : elles ont tendance à durcir sous l'effet de la pression. L'hypertension peut provoquer des petites lésions dans la paroi des vaisseaux. Les vaisseaux peuvent alors être obstrués, ce qui peut avoir de graves conséquences (infarctus, accident vasculaire cérébral...)
        li.obligation__element Les reins : l'hypertension peut avoir une part de responsabilité dans l'insuffisance rénale.

div.express
  p.express__text Parce qu’il n’y a rien de plus important à nos yeux que de vous rendre le sourire.
