section.team
  div.team__controls
    h2.team__title Notre équipe
    div#s1
      div#s2
        a.controls__button--next.controls__button--next1(href="#s2")
          span Next
        a.controls__button--prev.controls__button--prev2(href="#s1")
          span Prev
        ul.team__slider
          li.team__element
            img.team__img(src="images/homme.jpg" width="215" height="215" alt="Photo d'un membre de l'équipe")
            div.team__horaire
              p.horaire__info Disponible du Lun - Ven 8h30 à 19h et Samedi de 8h30 à 17h
            p.team__info
              span.team__name Docteur Malinosky
              span.team__function Généraliste

          li.team__element
            img.team__img(src="images/femme.jpg" width="215" height="215" alt="Photo d'un membre de l'équipe")
            div.team__horaire
              p.horaire__info Disponible du Lun - Ven 8h30 à 19h et Samedi de 8h30 à 17h
            p.team__info
              span.team__name Docteur Malinosky
              span.team__function Généraliste
          li.team__element
            img.team__img(src="images/homme.jpg" width="215" height="215" alt="Photo d'un membre de l'équipe")
            div.team__horaire
              p.horaire__info Disponible du Lun - Ven 8h30 à 19h et Samedi de 8h30 à 17h
            p.team__info
              span.team__name Docteur Malinosky
              span.team__function Infirmier
          li.team__element
            img.team__img(src="images/femme.jpg" width="215" height="215" alt="Photo d'un membre de l'équipe")
            div.team__horaire
              p.horaire__info Disponible du Lun - Ven 8h30 à 19h et Samedi de 8h30 à 17h
            p.team__info
              span.team__name Docteur Mertens
              span.team__function Psychologue
