
section.discover
  div.discover__header
    div.discover__container
      h2.discover__title Découvrez nos services
      ul.discover__menu
        li.discover__element.actif
          a.discover__link.discover__link--generale(href="",data-tab-target="tab-one",title="En savoir plus sur la section généraliste") Généraliste
        li.discover__element
          a.discover__link.discover__link--psy(href="",data-tab-target="tab-two",title="En savoir plus sur la section psychologie") Psychologue
        li.discover__element
          a.discover__link.discover__link--kine(href="",data-tab-target="tab-three",title="En savoir plus sur la section kine") Kiné
        li.discover__element
          a.discover__link.discover__link--cardio(href="",data-tab-target="tab-four",title="En savoir plus sur la section cardiologie") Cardiologue
        li.discover__element
          a.discover__link.discover__link--infirmier(href="",data-tab-target="tab-five",title="En savoir plus sur la section dentiste") Infirmier
  div.discover__services
    div.discover__content.activated#tab-one
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Qu'est-ce qu'un généraliste ?
      div.discover__answer#focus
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Découvrez votre médécin
      div.discover__answer#focus
        p.answer__text Relatif a découvrez votre médecin Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.


    div.discover__content#tab-two
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Préparer l'entretien
      div.discover__answer#focus
        p.answer__text En général, lors du premier rendez-vous, le patient explique les raisons de sa présence, ses motivations et le thérapeute va s’intéresser à sa personnalité et à l’environnement dans lequel il évolue. L’entretien prend en compte le passé et plus particulièrement l’enfance. L’échange verbal est plus ou moins développé selon le psy. A la fin de la séance s’ensuit une réflexion sur ce qui a été dit.
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.


    div.discover__content#tab-three
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Découvrez votre kiné
      div.discover__answer#focus
        p.answer__text En général, lors du premier rendez-vous, le patient explique les raisons de sa présence, ses motivations et le thérapeute va s’intéresser à sa personnalité et à l’environnement dans lequel il évolue. L’entretien prend en compte le passé et plus particulièrement l’enfance. L’échange verbal est plus ou moins développé selon le psy. A la fin de la séance s’ensuit une réflexion sur ce qui a été dit.
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.

    div.discover__content#tab-four
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Problème de coeur ?
      div.discover__answer#focus
        p.answer__text En général, lors du premier rendez-vous, le patient explique les raisons de sa présence, ses motivations et le thérapeute va s’intéresser à sa personnalité et à l’environnement dans lequel il évolue. L’entretien prend en compte le passé et plus particulièrement l’enfance. L’échange verbal est plus ou moins développé selon le psy. A la fin de la séance s’ensuit une réflexion sur ce qui a été dit.
        p.answer__text Une petite préparation psychologique et mentale s’impose pour pouvoir établir un climat de dialogue ouvert et sincère. Au départ, la communication est difficile car la méfiance est souvent de mise, et les questions personnelles et intimes sont parfois douloureuses à aborder. Il faut en être conscient et essayer de se lancer, n’oublions pas que les psys sont tenus au secret médical.

    div.discover__content#tab-five
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Soins à domicile
      div.discover__answer#focus
        p.answer__text En général, lors du premier rendez-vous, le patient explique les raisons de sa présence, ses motivations et le thérapeute va s’intéresser à sa personnalité et à l’environnement dans lequel il évolue. L’entretien prend en compte le passé et plus particulièrement l’enfance. L’échange verbal est plus ou moins développé selon le psy. A la fin de la séance s’ensuit une réflexion sur ce qui a été dit.
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Piqure
      div.discover__answer#focus
        p.answer__text Les piqures ne font pas mal
      a.discover__question(href="#focus", title="Cliquez pour voir le contenu relatif") Opération couteuse
      div.discover__answer#focus
        p.answer__text Les opérations ne sont pas cher
