section.headContent.headContent--house
  div.headContent__container
    div.headContent__texte
      h2.headContent__slogan.headContent__slogan--house="L'hypertension artérielle"
      p.headContent__text L'hypertension artérielle, se caractérise par une pression anormalement forte du sang sur la paroi des artères. En situation de stress ou durant un effort physique, il est normal que la tension artérielle s’élève. Mais chez les personnes hypertendues, la tension reste élevée en tout temps, même au repos ou en l’absence de stress.

    figure.headContent__figure
      img.headContent__img(src="images/ficheHead.jpg", width="480" height="320" alt="Femme qui tient par la main une personne agé dans un couloir")
