section.headContent.headContent--fonction
  div.headContent__container
    figure.headContent__figure
      img.headContent__img(src="images/fonctionnement.jpg", width="480" height="320" alt="Torse d'un médecin avec dans sa poche un bic et un stetoscope")

    div.headContent__texte
      h2.headContent__slogan.headContent__slogan--house="Fonctionnement."
      p.headContent__text Comment fonctionne une maison médicale ? Faut-il s’inscrire pour recevoir des soins adaptés ? Que faire si je veux me désinscrire de la maison ? Tant de question où vous trouverez réponse sur cette page.
