section.headContent.headContent--house
  div.headContent__container
    div.headContent__texte
      h2.headContent__slogan.headContent__slogan--house="Redécouvrez votre médecin."
      p.headContent__text Parce que une bonne relation médecin - patient est primordiale, nous vous proposons des médécins de qualité avec une philosophie de travail privilégiant le bien-être du patient.

    figure.headContent__figure
      img.headContent__img(src="images/header.jpg", width="480" height="320" alt="Femme qui tient par la main une personne agé dans un couloir")
