
section.information
  h2.hidden Information sur le services de gardes
  div.information__container
    div.information__choix
      a.information__link.information__link--check(href="#",data-tab-target="move", title="Cliquez pour voir le contenu de la section") Je peux me déplacer
    div.information__choix.information__choix--active
      a.information__link.information__link--uncheck(href="#",data-tab-target="notmove", title="Cliquez pour voir le contenu de la section") Je ne peux pas me déplacer

  div.information__content.information__content--active#move
    article.information__article
      h3.information__title Information
      p.information__text En cas de problème médical urgent nécessitant un médecin à domicile entre 19h00 et 8h30 ainsi que tout le week-end.
      p.information__text La visite du médecin sera payante. Le paiement par bancontact est vivement conseillé, vous pouvez aussi demander de payer par virement.
      p.information__text Il est important que vous ayez des vignettes de mutuelles.
      p.information__text Vous pourrez vous faire rembourser la quote-part mutuelle à la Maison Médicale en déposant l'attestation de soins à l'accueil.

    table.information__table
      caption.hidden Horaire des services d'urgence

      tr.information__tableRow
        th.information__tableHead(colspan="2") Du lundi au jeudi soir inclus
      tr.information__tableRow
        td.information__tableData 19h00
        td.information__tableData 8h30

      tr.information__tableRow
        td.information__tableData(colspan="2")
          a.information__tel(href="tel:0474266436",title="Téléphoner à ce numéro?") 04 74 26 64 36

      tr.information__tableRow
        th.information__tableHead(colspan="2") Du vendredi au dimanche et jours fériés

      tr.information__tableRow
        td.information__tableData 22h00
        td.information__tableData /

      tr.information__tableRow
        td.information__tableData(colspan="2")
          a.information__tel(href="tel:0474266436",title="Téléphoner à ce numéro?") 04 74 26 64 36

  div.information__content#notmove
    article.information__article
      h3.information__title Information
      p.information__text Contenu je ne peux pas me déplacerEn cas de problème médical urgent nécessitant un médecin à domicile entre 19h00 et 8h30 ainsi que tout le week-end.
      p.information__text La visite du médecin sera payante. Le paiement par bancontact est vivement conseillé, vous pouvez aussi demander de payer par virement.
      p.information__text Il est important que vous ayez des vignettes de mutuelles.
      p.information__text Vous pourrez vous faire rembourser la quote-part mutuelle à la Maison Médicale en déposant l'attestation de soins à l'accueil.

    table.information__table
      caption.hidden Horaire des services d'urgence

      tr.information__tableRow
        th.information__tableHead(colspan="2") Du lundi au jeudi soir inclus
      tr.information__tableRow
        td.information__tableData 19h00
        td.information__tableData 8h30

      tr.information__tableRow
        td.information__tableData(colspan="2")
          a.information__tel(href="tel:0474266436",title="Téléphoner à ce numéro?") 04 74 26 64 36

      tr.information__tableRow
        th.information__tableHead(colspan="2") Du vendredi au dimanche et jours fériés

      tr.information__tableRow
        td.information__tableData 22h00
        td.information__tableData /

      tr.information__tableRow
        td.information__tableData(colspan="2")
          a.information__tel(href="tel:0474266436",title="Téléphoner à ce numéro?") 04 74 26 64 36
