
div.centerContainer
  section.newsletter
    h3.newsletter__title Inscrivez vous à notre newsletter pour recevoir notre actualité
    div.newsletter__container
      form.newsletter__form
        input.newsletter__input(type="text",name="newsletter",value="" id="newsletter" placeholder="Votre adresse email")
        input.newsletter__submit( type="submit", value="S'inscrire")
