section.philosophie#philosophie
  div.philosophie__container
    h2.philosophie__title Notre philosophie
    div.philosophie__content
      p.philosophie__text L’ASBL Maison Médicale Centre de Santé Intégré Angleur (CSI Angleur) a vu le jour en 2016. Elle est composée de tous les travailleurs qui le souhaitent et de membres extérieurs.
      p.philosophie__text Nous fonctionnons en autogestion : cela signifie qu’il n’y a pas de hiérarchie, la gestion de la maison médicale est assurée par les membres de l’Assemblée générale de l’ASBL.
      p.philosophie__text Actuellement, l’équipe pluridisciplinaire de travailleurs se compose de deux médecins généralistes, d’un infirmier et d’une accueillante/employée administrative.
