section.traitement
  h2.traitement__title Traitement disponible
  div.traitement__container
    <svg class="traitement__svg" width="124" height="219" viewBox="0 0 124 219" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path id="a" d="M0 219.763h123.735V0H0z"/>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <path d="M117.398 209.417c0 5.1-4.137 9.238-9.242 9.238H15.58c-5.106 0-9.24-4.137-9.24-9.238V13.684c0-5.094 4.134-9.227 9.24-9.227h92.576c5.105 0 9.242 4.133 9.242 9.227v195.733z" fill="#FF9C15"/>
        <path d="M123.736 38.07c0 5.093-4.14 9.216-9.24 9.216H9.237C4.138 47.286 0 43.163 0 38.07V9.227C0 4.135 4.14 0 9.24 0h105.257c5.102 0 9.24 4.135 9.24 9.227V38.07z" fill="#E6E6E6"/>
        <path d="M35.525 37.566c0 1.715-1.392 3.107-3.11 3.107-1.72 0-3.112-1.392-3.112-3.107V9.712c0-1.725 1.393-3.117 3.113-3.117 1.717 0 3.11 1.392 3.11 3.117v27.854z" fill="#D3D3D3"/>
        <path d="M15.89 37.566c0 1.715-1.392 3.107-3.112 3.107-1.72 0-3.114-1.392-3.114-3.107V9.712c0-1.725 1.393-3.117 3.114-3.117 1.72 0 3.113 1.392 3.113 3.117v27.854z" fill="#D3D3D3"/>
        <path d="M55.16 37.566c0 1.715-1.39 3.107-3.11 3.107-1.718 0-3.11-1.392-3.11-3.107V9.712c0-1.725 1.392-3.117 3.11-3.117 1.72 0 3.11 1.392 3.11 3.117v27.854z" fill="#D3D3D3"/>
        <path d="M74.798 37.566c0 1.715-1.394 3.107-3.11 3.107-1.72 0-3.112-1.392-3.112-3.107V9.712c0-1.725 1.392-3.117 3.113-3.117 1.714 0 3.108 1.392 3.108 3.117v27.854z" fill="#D3D3D3"/>
        <path d="M94.435 37.566c0 1.715-1.393 3.107-3.113 3.107s-3.11-1.392-3.11-3.107V9.712c0-1.725 1.39-3.117 3.11-3.117s3.113 1.392 3.113 3.117v27.854z" fill="#D3D3D3"/>
        <path d="M114.072 37.566c0 1.715-1.393 3.107-3.112 3.107-1.72 0-3.113-1.392-3.113-3.107V9.712c0-1.725 1.393-3.117 3.113-3.117s3.112 1.392 3.112 3.117v27.854z" fill="#D3D3D3"/>
        <mask id="b" fill="#fff">
          <use xlink:href="#a"/>
        </mask>
        <path fill="#FFD369" mask="url(#b)" d="M16.153 104.29h91.432V77.12H16.153"/>
      </g>
    </svg>
    div.traitement__content
      p.traitement__text Il n’y a pas de traitement qui permette de guérir définitivement l’hypertension artérielle. Le traitement a pour but d’abaisser artificiellement la pression sanguine pour prévenir d’éventuels dommages aux organes (coeur, cerveau, reins, yeux). Lorsque ces organes sont déjà atteints, le traitement de l’hypertension artérielle devient encore plus important. Chez les personnes diabétiques, les objectifs de traitement sont plus élevés, car le risque de complications est accru.
      p.traitement__text En cas d'hypertension légère, le fait d’adopter des habitudes de vie plus saines peut suffire à normaliser la tension.
      p.traitement__text En cas d'hypertension modérée ou avancée, l’adaptation des habitudes de vie reste indispensable. Elle permettra de réduire la consommation de médicaments. Dans tous les cas, une approche globale a un effet encore plus important sur la pression artérielle que la seule prise de médicaments.
div.express.express__advice
  p.express__text Des conseils pratiques données par des experts de qualités.

  <svg class="express__svg" width="35" height="217" viewBox="0 0 35 217" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path id="a" d="M22.52.862H.568v45.33H22.52V.86z"/>
      <path id="c" d="M0 217.138h70.54V1H0z"/>
    </defs>
    <g transform="translate(-36 -1)" fill="none" fill-rule="evenodd">
      <g transform="translate(42 .138)">
        <mask id="b" fill="#fff">
          <use xlink:href="#a"/>
        </mask>
        <path d="M20.004.862H3.082C1.693.862.568 1.99.568 3.382v.1C.567 4.878 1.693 6 3.083 6h3.47v37.672c0 1.392 1.13 2.52 2.52 2.52h4.944c1.39 0 2.517-1.128 2.517-2.52V6h3.47c1.39 0 2.517-1.123 2.517-2.517v-.1c0-1.393-1.125-2.52-2.516-2.52" fill="#15303D" mask="url(#b)"/>
      </g>
      <path d="M66.266 37.268H40.822c-2.362 0-4.277 1.916-4.277 4.275 0 2.36 1.915 4.275 4.277 4.275h1.78c-.038.252-.075.504-.075.76v88.58c0 2.778 2.255 5.034 5.036 5.034h11.962c2.78 0 5.036-2.256 5.036-5.035V46.58c0-.258-.04-.51-.075-.762h1.78c2.36 0 4.276-1.915 4.276-4.275 0-2.36-1.914-4.275-4.274-4.275" fill="#EEE"/>
      <path d="M64.48 135.56c0 2.556-2.253 4.632-5.035 4.632H47.64c-2.78 0-5.035-2.076-5.035-4.632V88.247c0-2.556 2.254-4.633 5.036-4.633h11.805c2.782 0 5.036 2.077 5.036 4.633v47.313z" fill="#FF5938"/>
      <mask id="d" fill="#fff">
        <use xlink:href="#c"/>
      </mask>
      <path fill="#15303D" mask="url(#d)" d="M43.03 69.12h11.017v-3.046H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 77.513h11.017V74.47H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 85.91h11.017v-3.046H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 94.304h11.017v-3.047H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 102.696h11.017V99.65H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 111.092h11.017v-3.048H43.03"/>
      <path fill="#15303D" mask="url(#d)" d="M43.03 119.488h11.017v-3.048H43.03"/>
      <path d="M60.055 142.807c0 1.445-1.17 2.615-2.614 2.615h-7.793c-1.445 0-2.614-1.17-2.614-2.615 0-1.445 1.17-2.614 2.614-2.614h7.794c1.445 0 2.615 1.17 2.615 2.614" fill="#C3C3C3" mask="url(#d)"/>
      <path d="M57.012 156.753c0 1.39-1.127 2.518-2.52 2.518h-1.898c-1.39 0-2.52-1.128-2.52-2.517V142.71c0-1.393 1.13-2.518 2.52-2.518h1.9c1.39 0 2.518 1.125 2.518 2.518v14.043z" fill="#C3C3C3" mask="url(#d)"/>
      <path d="M53.544 198.934c-.35 0-.63-.286-.63-.63V159.27c0-.346.28-.63.63-.63.347 0 .63.284.63.63v39.035c0 .343-.283.63-.63.63" fill="#15303D" mask="url(#d)"/>
      <path d="M53.22 201.637l-4.307 7.513c-.905 1.59-.973 3.608 0 5.306 1.467 2.556 4.727 3.44 7.284 1.974 2.554-1.464 3.438-4.724 1.973-7.28l-4.306-7.513c-.143-.246-.5-.246-.644 0" fill="#FF5938" mask="url(#d)"/>
    </g>
  </svg>
